:root,
.root,
page,
.tab-bar {
  --app-font-size: 12px;

  --app-bg: #1a1a1a;
  --nav-bg: #1e1e1e;
  --text-color: #ffffff;
  --primary-color: #13ed8f;
  --icon-color: #979797;
  --icon-color-active: #ffffff;
  --card-bg: #2d2d2d;
  // 适配 暗色模式
  @media (prefers-color-scheme: dark) {
    --app-bg: #1a1a1a;
    --nav-bg: #1e1e1e;
    --text-color: #ffffff;
    --primary-color: #13ed8f;
    --icon-color: #979797;
    --icon-color-active: #ffffff;
    --card-bg: #2d2d2d;
  }

  font-size: var(--app-font-size);
  background-color: var(--app-bg);
  color: var(--text-color);
}
